@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
:root {
  --font-family: "Encode Sans Expanded", sans-serif;
}
/* // */
body {
  font-family: var(--font-family) !important;
}
a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400  focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}
.h-section {
  height: calc(100vh - 76px);
}
/* input:focus {
  outline: none;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* // */

/* .fit-main {
  object-fit: cover;
}

.fit {
  object-fit: cover;
  height: 300px;
}
@media (min-width: 1024px) {
  .fit {
    height: 300px;
  }
}
@media (min-width: 600px) {
  .fit {
    height: 200px;
  }
}
@media (max-width: 480px) {
  .fit {
    height: 500px;
  }
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
} */

/* h1 {
  text-align: center;
}
.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}
.brdr-main {
  border: 1px solid var(--main-color) !important;
}
a,
a:hover {
  color: black !important;
  text-decoration: none !important;
}

.product:hover {
  box-shadow: var(--shadow);
  border: solid 1px var(--main-color);
}
.product .btn {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.5s;
}
.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);
}
.font-sm {
  font-size: 14px;
}
.text-main {
  color: var(--main-color) !important;
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}
.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
} */
